# 管理员密码
PASSWORD=123456
# Neon数据库连接字符串
DATABASE_URL=postgresql://username:password@host:port/database
# WebDAV 备份
WEBDAV_URL=https://notes.zxlwq.dav/
WEBDAV_USER=admin
WEBDAV_PASS=123456
# GitHub Gist备份
GIT_TOKEN=github_token
# R2存储桶 备份
ACCOUNT_ID=https://账户ID.r2.cloudflarestorage.com
ACCESS_KEY_ID=AccessKeyID
SECRET_ACCESS_KEY=SecretAccessKey